@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Abdelsalam Elramady</h3>

<address>
    <abbr title="Mobile">Mobile:</abbr>
    +201004269539
</address>

<address>
    <strong>Email::</strong>   <p>abdoelramady4@gmail.com</p><br />
    <strong>Linkedin:</strong> <a href="http://www.linkedin.com/in/abdelsalam-elramady-173203125">http://www.linkedin.com/in/abdelsalam-elramady-173203125</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/abdo.elramady">https://www.facebook.com/abdo.elramady</a><br />
    <strong>Github:</strong> <a href="https://github.com/AbdelsalamElramady">https://github.com/AbdelsalamElramady</a>
</address>