@model IEnumerable<Library.Models.Client>

@{
    ViewBag.Title = "Borrow";
}

<h2>Borrow</h2>
<h4>Please choose the client</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.name)*@
            @Html.ActionLink(item.name, "GetBooks", "Borrow", new { clientId = item.Id }, null)
        </td>
    </tr>
}

</table>
